*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
a,
td,
tr,
table{
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  text-decoration: none; 
  color: #fff;
}
.container{
    max-width: 1070px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
} 

/*Header--------*/
header{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 111;
  padding-top: 25px;
  

  
}
.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  

}
.nav{
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-decoration: none;
}
.header__tel{
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;

}
.nav__link{
  margin-right: 32px;
}
.nav__link:hover{
  border-bottom: #8d2424 2px solid;
  
}


.nav__link:last-child{
  margin-right: 0;
}

.page{
  overflow: hidden;
}



/* End---Header------*/
.intro{
  background: url(../img/bg_intro.png) center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  top: 0;
  padding-top: 300px;
  padding-bottom: 200px;
}
.intro_info{
  max-width: 548px;
}
.title{
  font-size: 54px;
  font-weight: 700;
  line-height: 70px;
  margin-bottom: 16px;
}
.intro__title{
  font-size: 54px;
  font-weight: 700;
  line-height: 70px;
  margin-bottom: 16px;
}
  
.intro__text{
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 59px;
}
.intro__btn{
  background-color:#BE2626;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 19px 34px 21px 34px;
}
.intro__btn:hover{
  background: #8d2424 ; 
  transition: all .3s linear;
}

/* ---Work------*/
.work{
  background-color: #0B0B0E;
  padding-top: 160px;
  padding-bottom: 211px;

} 
.work__inner{
  display: flex;
  margin-top: 145px;
}
.work__item{
  width: 40%;
  margin-right: 40px;
}
.work__item:last-child{
  margin-right: 0;
}
.work__info{
  text-align: center;
}
.work__logo{
  display: block;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: #9A9A9A;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.work__icon img{
  display: block;
  margin: 0 auto;
  
}
.work__info{
  font-size: 28px;
  font-weight: 400;
  line-height: 48px;
  color: #fff;
  padding-right: 15px;
}
.work__title{
  margin-top: 32px;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;

}
.work__inf{
  margin-top: 16px;
  font-size: 17px;
  font-weight: 400;
  line-height: 29px;
  color: #B7B7B7;
  text-align: center;
}

/* End---Work------*/



/* ----services-----*/
.services{
  background: #0B0B0E;
  padding-bottom: 200px;
}
.services__inner {
}
table{
  width: 100%;
}
td{
  max-width: 250px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  padding-bottom: 25px;
}
tr{
  border-bottom:1px solid #212122;
  padding-bottom: 20px;
}
.services__item:nth-child(odd){
}
/* End---services------*/



/* ----workers-----*/
.workers{
  background-color: #0B0B0E; 

}
.workes__inner{
  display: flex;
}
.workers__col{
  width: 33.333%;
}
.workers__info{
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}
.workes__name {
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  margin-top: 24px;
}
.prof {
  color: #CFCFCF;

  margin-top: 6px;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}



/* End---services------*/



/* ----workers-----*/
.workers{
  background-color: #0B0B0E; 

}
.workes__inner{
  display: flex;
}
.workers__col{
  width: 33.333%;
}
.workers--title{
  font-size: 44px;
  font-weight: 600;
  line-height: 53px;

}
.workers__info{
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}
.workes__name {
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  margin-top: 24px;
}
.prof {
  color: #CFCFCF;

  margin-top: 6px;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

/* -End--workers------*/
/* ----stages------*/

.stages{
  background-color: #0B0B0E;
  padding-top: 160px;
  padding-bottom: 211px;

} 
.stages__inner{
  display: flex;
  margin-top: 80px;
}
.stages__item{
  width: 33.3333%;
  margin-right: 40px;
}
.stages__item:last-child{
  margin-right: 0;
}
.stages__info{
  text-align: center;
}
.stages--title {
  font-size: 44px;
  font-weight: 600;
  line-height: 53px;
}
.stages__logo{
  display: block;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: #9A9A9A;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.stages__icon img{
  display: block;
  margin: 0 auto;
  
}
.stages__info{
  font-size: 28px;
  font-weight: 400;
  line-height: 48px;
  color: #fff;
  padding-right: 15px;
}
.stages__title{
  margin-top: 32px;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;

}
.stages__inf{
  margin-top: 16px;
  font-size: 17px;
  font-weight: 400;
  line-height: 29px;
  color: #B7B7B7;
  text-align: center;
}

/* ---project-----*/
.project{
  background-color: #0B0B0E;
  
}
.project__inner{
  display: flex;
  flex-wrap: wrap;
  
}
.project__item {
  width: 50%;
  padding-left: 20px;
  padding-bottom: 20px;
  
}
.project__item img {
  max-width: 100%;
  height: auto;
}
.project--title{
  margin-bottom: 80px;
}
/* ------End-project-----*/

/* ---Contact-----*/
.contact{
  background-color: #0B0B0E;
  padding-top: 262px;
  padding-bottom: 240px;
}
.contact__inner {
  display: flex;
  justify-content: space-between;
}
.contact__item{
  margin-right: 30px;
}
.contact__title{
  font-size: 36px;
  font-weight: 600;
  line-height: 43px;
  text-align: left;
  margin-bottom: 16px;
}
.contact__text{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  margin-bottom: 36px;

}
.contact__input{
  margin-bottom: 12px;
  background-color: #0B0B0E;
  border:1px solid #1F1F1F;
  padding: 11px 72px 11px 14px;
  font-size: 15px;
  font-weight: 400;
  color: #707070; 
  line-height: 24px;    
}
input {
  outline:none;
}
.input--tel{
  margin-bottom: 23px;
}

.contact__btn{
  background-color: #BE2626;
  padding: 13px 99px 13px 100px; 


}
/* --End---Contact-----*/

/* --Footer-----*/
.footer{
  border-top: #1F1F21 1px solid;
  background-color: #0B0B0E;
  padding-top: 59px;
  border-bottom: #1F1F21 1px solid;
  padding-bottom: 74px;
}
.soc__link{
  margin-right: 16px;
}
.footer__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__mail{
  
}
.footer__contact a{
  display: block;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}
.footer__mail{
  color: #377BFF;
  font-size: 21px;
  font-weight: 500;
  line-height: 25px;
}

.footer__bottom{
  background-color: #0B0B0E;
  padding-top: 24px;
  text-align: left;
  color: #B7B7B7;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  padding-bottom: 24px;
}
@media (max-width:1200px){
  .header__tel{
    font-size: 20px;
  }
  .intro{
    padding-top: 250px;
  }
  
  .work__inner{
    margin-top: 135px;
  }
.intro_title{
  font-size: 48px;
  font-weight: 700;
  line-height: 62px; 
}
.services-title{
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;


}
  .work{
    padding-bottom: 150px;
  }
  .workers--title{
    font-size: 40px;
    font-weight: 600;
    line-height: 48px; 
  }
  .workers__info{
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;

  }


  .stages--title{
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    
    
  }
}

@media (max-width:960px){
  .nav{
    display: none;
  }
  .header__tel{
    display: none;
  }
  .work__title{
    margin-top: 24px;
  }
  .work__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .work__item{
    margin-top: 78px;
  }
  .workes__inner{
    flex-wrap: wrap;
  }
  .project__photo img{
    max-width: 100%;
    height: auto;
    width: 100%;
  }
  .project__inner{
    flex-wrap: wrap;
  }


}
@media (max-width:640px){
  .work__item{
    width: 100%;
    margin-top: 78px;
    justify-content: center;
    margin-right: 0;
    margin-top: 78px;

  }
  .work__text{
    font-size: 22px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0em;
   
  }
  .intro__text{
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  }
  .intro__title{
  font-size: 40px;
  font-weight: 700; 
  line-height: 52px;
  }
}












